<!doctype html>
<html xmlns: th= "http://www.thymeleaf.com">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Product - IMS</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          
    <link rel="stylesheet" href="/css/stylesheet1.css">
    
</head>

    
<body>

    <div class="container-fluid">
        <div class="row">
            

            <div class="row">
               	<div class="col-md-12">
               	 
               		<h3 class="ph_h5 page_header">Product Edit</h3>
               		
               	</div>
        	</div>
            

            <div class="col-md-12 input_edit">


                <div class="row">
                    
               
                <div class="row input_section no_gap">
                    <div class="col-md-11">
                   
                   
                       <form th:action = "@{/updateproduct}" method="POST" th:object= "${edit}">
                       
                       		<input type= "hidden" th:value= "${edit.prod_id}" name= "prod_id">

                       		<div class="row">

                               <div class="col-md-5">
                                   <label>Product</label>
                                   <input type="text" name="prod_name" class="form-control mt-2" placeholder="Enter Product Name..." th:value= "${edit.prod_name}">
                               </div>

                               <div class="col-md-6 ps-5">
                                   <label>Cost Price</label>
                                   <input type="number" name="prod_price" class="form-control mt-2" placeholder="Enter cost Price..." th:value= "${edit.prod_price}">
                               </div>

                               <div class="col-md-5 pt-3">
                                   <label>Description</label>
                                   <textarea class="form-control mt-2" name="prod_desc" id="description" rows="4" placeholder="Enter Description of Product..." th:text= "${edit.prod_desc}">
                                   </textarea>
                               </div>

                               <div class="col-md-6 pt-3 ps-5">
                                   <label>Retail Price</label>
                                   <input type="number" name="prod_retail" class="form-control mt-2" placeholder="Enter Retail Price..." th:value= "${edit.prod_retail}">
                               </div>

                               <div class="col-md-5 pt-3">
                                   <label>Quantity</label>
                                   <input type="number" name="prod_quantity" class="form-control mt-2" placeholder="Enter Quantity..." th:value= "${edit.prod_quantity}">
                               </div>

                               <div class="col-md-6 pt-3 ps-5">
                                   <label>Barcode</label>
                                   <input type="number" name="prod_barcode" class="form-control mt-2" placeholder="Enter Barcode of Product..." th:value= "${edit.prod_barcode}">
                               </div>

                           </div>


                           <div class="row">

                               <div class="col-md-5 pt-3">
                                   <div class="form-group">
                                       <label>Category</label>
                                       <select class="form-select mt-2" name="prod_cate" placeholder= "Enter Category..." th:value= "${edit.prod_cate}">
                                           <option th:each = "category : ${cate}"
                                                   th:text = "${category.cate_name}"></option>
                                       </select>
                                   </div>
                               </div>

                               <div class="col-md-6 pt-3 ps-5">
                                   <div class="form-group">
                                       <label>Brand</label>
                                       <select class="form-select mt-2" name="prod_brand" placeholder= "Enter Brand..." th:value= "${edit.prod_brand}">
                                           <option th:each = "br : ${viewbr}"
                                                   th:text = "${br.brand_name}"></option>
                                       </select>
                                   </div>
                               </div>

                           </div>


                           <div class="row">

                               <div class="col-md-5 pt-3">
                                   <div class="form-group">
                                       <label>Store</label>
                                       <select class="form-select mt-2" name="prod_store" placeholder= "Enter Store..." th:value= "${edit.prod_store}">
                                           <option th:each = "store : ${st}"
                                                   th:text = "${store.store_name}"></option>
                                       </select>
                                   </div>
                               </div>

                               <div class="d-grid gap-2 col-md-3 mx-auto pt-5">
                                   <button type="submit" class="btn btn-success">Add</button>
                               </div>

                           </div>

                       </form>
                       
               
                    </div>
                </div>
                
                
                
               <div class="row">
                   <div class="col-md-11 add_product_table">
                       
                       
                       <div class="row">
                           <div class="col-md-12 page_header">

                               <h3 class="ph_h4">Product Info</h3>

                           </div>
                       </div>
                

                       <table class="table t_t">
                           
                           <thead>
                               <tr>
                                   <th scope="col">ID</th>
                                   <th scope="col">Product</th>
                                   <th scope="col">Description</th>
                                   <th scope="col">Category</th>
                                   <th scope="col">Brand</th>
                                   <th scope="col">Store</th>
                                   <th scope="col">Cost Price</th>
                                   <th scope="col">Retail Price</th>
                                   <th scope="col">Quantity</th>
                                   <th scope="col">Barcode</th>
                                   <th scope="col">Action</th>

                               </tr>
                           </thead>
                           
                           <tbody>
                               <tr th:each = "product : ${prod}">
                                   <th th:text = "${product.prod_id}" scope="row">1</th>
                                   <td th:text = "${product.prod_name}"></td>
                                   <td th:text = "${product.prod_desc}"></td>
                                   <td th:text = "${product.prod_cate}"></td>
                                   <td th:text = "${product.prod_brand}"></td>
                                   <td th:text = "${product.prod_store}"></td>
                                   <td th:text = "${product.prod_price}"></td>
                                   <td th:text = "${product.prod_retail}"></td>
                                   <td th:text = "${product.prod_quantity}"></td>
                                   <td th:text = "${product.prod_barcode}"></td>
                                   
                                   <td>
                                     <a class="btn btn-warning mt-2" th:href= "@{/editproduct/{id} ( id = ${product.prod_id} )}">Edit</a>
                                     <a class="btn btn-danger mt-2" th:href= "@{/deleteproduct/{id} ( id = ${product.prod_id} )}">Delete</a>
                                   </td>
                               </tr>
                           </tbody>
                           
                       </table>


                   </div>
               </div>


           </div>
            
            
       </div>
   </div>




   <script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
 </body>

</html>