<!doctype html>
<html xmlns: th= "http://www.thymeleaf.com">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Forgot Password - IMS</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/stylesheet3.css">
    
</head>

<body>


    <div class="container">


        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                        
                            <h3>Forgot Password?</h3>
                            <p>An OTP number will be sent to your email. Please Enter the number to reset password</p>
                            
                            
                            <form th:action= "@{/emailforotp}" method= "post" th:if= "${otp == null  &&  resubmitPass == null}">
								
                                <div class="col-md-12">
                                    <input class="form-control" type="email" name="otp_email" placeholder="Enter email" required="true">
                                </div>
                                
                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary">Send OTP</button>
                                </div>
                                                                
                            </form>
                            

                            <form th:action= "@{/submitotp}" method= "post" th:if = "${otp != null}" 
                                                                            th:object= "${otp}">
                                                                            
                                <input type="hidden" name="id" th:if = "${otp.id != null}" 
								                                      th:value= "${otp.id}">
								                                            
								
								<input type="hidden" name="otp_email" th:if = "${otp.otp_email != null}" 
								                                      th:value= "${otp.otp_email}">
								
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="otp_number" placeholder="Enter 4 digit OTP number" required="true">
                                </div>
                                
                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                                                
                            </form>
                            
                            
                            <div class= "row">
                            
                                <form th:action= "@{/editReg}" method= "post" th:if= "${resubmitPass != null}" th:object= "${resubmitPass}">

                                    <div class="col-md-12 mt-3">
                                        <input class="form-control" type="password" name="admin_password" placeholder="Enter Password" required="true">
                                    </div>

                                    <div class="col-md-12 mt-2">
                                        <input class="form-control" type="password" name="admin_confirmPassword" placeholder="Confirm Password" required="true">
                                    </div>

                                    <div class="form-button mt-3">
                                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                                    </div>

                                </form>
                                
                            </div>
                            
                            
                            
		                              <!-- Alert Message  -->  
			                   <div th:if= ${session.message}>
			                   	
			                    	<script th:inline="javascript">
									    var message = [[${session.message}]];
									    alert (message);
									</script>
									
									<th:block th:text="${#session.removeAttribute('message')}"></th:block>
								</div>
					
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>