<!doctype html>
<html xmlns: th= "http://www.thymeleaf.com">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Inventory Management System - Final Project</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/stylesheet1.css">
    
</head>

    
<body>

    <div class="container-fluid">
        <div class="row">

            
            <div class="col-md-3 menu ps-0">
                <nav class="navbar navbar-custom align-items-start ps-2"> 
                    
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link nav_item_text active" aria-current="page" href="/">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text active" href="brandOpen">Brand</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text" href="storesOpen">Stores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text" href="productOpen">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text" href="orderOpen">Order Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text" href="customerOpen">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_item_text" href="logout">Logout</a>
                        </li>
                    </ul>
                    `
                </nav>
            </div>

            
            <div class="col-md-9">
                
                
                <h3 class="ph_h3 page_header">Category</h3>
            
            
                <div class="row align-items-start">
                
                    
                    <div class="col-md-4 input_section">
                    
                            
                         <form th:action = "@{/addCategory}" method="POST">
                                
                            <div class="form-group col-md-12">

                                <label>Category</label>
							  	<input type="text" name="cate_name" class="form-control mt-2" id="category" required="true" placeholder= "Enter Category of item...">
              
                           	</div>
                                
                            
                            <div class="form-group col-md-12 pt-3">
                                <label>State</label>
                                <select id= "cstatus" name="cate_status" class="form-select mt-2">
                                    <option selected>Available</option>
                                    <option>Unavailable</option>
                                </select>
                            </div>
                                
                            
                            <div class="row pt-4">
                            
                                <div class="d-grid gap-2 col-md-6 mx-auto">
                                    <button type="submit" name="add" class="btn btn-success">Add</button>
                                </div>
                                
                            </div>

					   </form>
					      
					    
					   <!-- Alert Message  -->  
	                   <div th:if= ${session.message}>
	                   	
	                    	<script th:inline="javascript">
							    var message = [[${session.message}]];
							    alert (message);
							</script>
							
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
					
   
                    </div>
                    
                    
   
                    <div class="col-md-8 t_t">

                        <table class="table table-striped t_t">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each = "category : ${cate}">
                                    <th th:text = "${category.cate_id}" scope="row">1</th>
                                    <td th:text = "${category.cate_name}"></td>
                                    <td th:text = "${category.cate_status}"></td>
                                    
                                    <td>
                                    	<a class="btn btn-sm btn-warning" th:href= "@{/edit/{id} ( id = ${category.cate_id} )}">Edit</a>
                                        <a class="btn btn-sm btn-danger" th:href= "@{/delete/{id} ( id = ${category.cate_id} )}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>

                
            </div>
            

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>

</html>